/* TODO: differentiate settings between window and windowless glass */
bw-window[theme='dark'],
bw-glass[windowless][theme='dark'] {
  color-scheme: dark;

  --bw-font-color: hsl(0 0% 90%);
  --bw-glass-border-color: hsl(0 0% 40%);
  --bw-glass-border-color-disabled: hsl(0 0% 30%);
  --bw-glass-header-bg-color: hsl(0 0% 18%);

  --bw-glass-bg-color: hsl(0 0% 16%);
  --bw-glass-bg-color-disabled: hsl(0 0% 16%);

  --bw-glass-action-bg-color-hover: hsl(0 0% 26%);
  --bw-action-menu-shadow: 0 4px 12px hsl(0 0% 0% / 0.5);

  --bw-drop-area-bg-color: hsl(0 0% 100% / 0.1);
  --bw-detached-glass-shadow: 0 2px 6px hsl(0 0% 0% / 0.55), 0 4px 14px hsl(0 0% 0% / 0.65);
  --bw-detached-glass-shadow-active: 0 4px 10px hsl(0 0% 0% / 0.65), 0 10px 30px hsl(0 0% 0% / 0.8);
  --bw-minimized-glass-highlight-color: hsl(0 0% 65% / 0.8);
}
