bw-window {
  position: relative;
  display: block;
  box-sizing: border-box;
}

bw-pane {
  position: absolute;
  overflow: auto;
  box-sizing: border-box;
}

bw-muntin {
  box-sizing: border-box;
  position: absolute;

  &:hover {
    background-color: hsl(0, 0%, 0%, 0.2);
  }

  &[horizontal] {
    cursor: ns-resize;
  }

  &[vertical] {
    cursor: ew-resize;
  }
}

.body--bw-resize-x {
  user-select: none;
  cursor: ew-resize;
}

.body--bw-resize-y {
  user-select: none;
  cursor: ns-resize;
}
