bw-window:has(bw-glass) {
  bw-pane {
    background-color: transparent;

    &[drop-area]::before {
      z-index: 1;
    }

    &[drop-area='top']::before {
      top: var(--bw-glass-clearance);
      left: var(--bw-glass-clearance);
      right: var(--bw-glass-clearance);
      height: 50%;
    }

    &[drop-area='right']::before {
      top: var(--bw-glass-clearance);
      right: var(--bw-glass-clearance);
      bottom: var(--bw-glass-clearance);
      width: 50%;
    }

    &[drop-area='bottom']::before {
      bottom: var(--bw-glass-clearance);
      left: var(--bw-glass-clearance);
      right: var(--bw-glass-clearance);
      height: 50%;
    }

    &[drop-area='left']::before {
      top: var(--bw-glass-clearance);
      left: var(--bw-glass-clearance);
      bottom: var(--bw-glass-clearance);
      width: 50%;
    }

    &[drop-area='center']::before {
      inset: var(--bw-glass-clearance);
    }
  }

  bw-muntin {
    background-color: transparent;
  }
}

bw-glass {
  font-family: var(--bw-font-family);
  font-size: var(--bw-font-size);
  box-sizing: border-box;
  position: absolute;
  inset: var(--bw-glass-clearance);
  border: 1px solid var(--bw-glass-border-color);
  background-color: white;
}

bw-glass-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--bw-glass-header-padding);
  height: var(--bw-glass-header-height);
  border-bottom: 1px solid var(--bw-glass-border-color);
}

bw-glass-tab-container {
  align-self: flex-end;
  display: flex;
  gap: 4px;

  .bw-glass-tab {
    font-family: var(--bw-font-family);
    border: 1px solid var(--bw-glass-border-color);
    border-bottom: none;
  }
}

bw-glass-action-container {
  /* always on the right */
  margin-left: auto;
  display: flex;
  gap: 2px;

  .bw-glass-action {
    font-family: var(--bw-font-family);
    border: 1px solid var(--bw-glass-border-color);
    cursor: pointer;
  }

  .bw-glass-action:hover {
    background-color: white;
  }

  .bw-glass-action:active {
    transform: scale(0.95);
  }
}

bw-glass-content {
  display: block;
  box-sizing: border-box;
  overflow: auto;
  height: calc(100% - var(--bw-glass-header-height));
}
